.contact-forms
  .well Email to the #{ mail_to "hello@crasome.com" } or use the form below
  /* tabset justified="true" */
  /*   tab heading="Hire us" */
  /*     .panel */
  /*       = render "hire_us_form" */
  /*   tab heading="Join us" */
  /*     .panel */
  /*       = render "join_us_form" */
  /*   tab heading="Send message" */
  /*     .panel */
  /*       = render "send_message_form" */
