RewriteCond %{HTTP_REFERER} ^http://[^/]+ilovevitaly\.co/ [NC]
RewriteCond %{HTTP_REFERER} ^http://[^/]+ilovevitaly\.com/ [NC]
RewriteCond %{HTTP_REFERER} ^http://[^/]+ilovevitaly\.ru/ [NC]
RewriteCond %{HTTP_REFERER} ^http://[^/]+priceg\.com/ [NC]
RewriteCond %{HTTP_REFERER} ^http://[^/]+advokateg\.ru/ [NC]
RewriteCond %{HTTP_REFERER} ^http://[^/]+ftns\.ru/ [NC]
RewriteCond %{HTTP_REFERER} ^http://[^/]+cenoval\.ru/ [NC]
RewriteCond %{HTTP_REFERER} ^http://[^/]+cenokos\.ru/ [NC]
RewriteCond %{HTTP_REFERER} ^http://[^/]+vodkoved\.ru/ [NC]
RewriteCond %{HTTP_REFERER} ^http://[^/]+goodseolinks\.ru/ [NC]
RewriteCond %{HTTP_REFERER} ^http://[^/]+darodar\.com/ [NC]
RewriteCond %{HTTP_REFERER} ^http://[^/]+o\-o\-6\-o\-o\.com/ [NC]
RewriteCond %{HTTP_REFERER} ^http://[^/]+bestwebsitesawards\.com/ [NC]
RewriteCond %{HTTP_REFERER} ^http://[^/]+semalt\.com/ [NC]
RewriteCond %{HTTP_REFERER} ^http://[^/]+humanorightswatch\.org/ [NC]
RewriteCond %{HTTP_REFERER} ^http://[^/]+buttons\-for\-website\.com/ [NC]
RewriteRule .? - [F]
