h2 Welcome
p = link_to "Hire Us", new_contact_hire_us_path, rel: :hire_us
p = link_to "Join Us", new_contact_join_us_path, rel: :join_us
p = link_to "send a message", new_contact_message_path, rel: :send_message
