.welcome
  text-align: center

.contact-options
  color: white
  display: flex
  flex-flow: row wrap
  align-content: stretch
  margin: 2%

  .option-tab
    display: flex
    flex-direction: column
    align-items: center
    flex: 1 100%
    padding: 10%
    margin: 1%
    width: 0

  .description
    margin-bottom: 10%

  a
    color: white

  .hire
    background-color: darkblue
    .btn-outline-inverse:hover
      a
        color: darkblue

  .join
    background-color: green
    .btn-outline-inverse:hover
      a
        color: green

  .send-message-link
    display: none

  .send-message
    background-color: #6f5499
    .btn-outline-inverse:hover
      a
        color: #6f5499

  @media (min-width: 768px)
    .send-message-link
      display: block
    .send-message
      display: none
    .option-tab
      flex: 1 auto
      padding: 5%
      padding-bottom: 2%
    .description
      margin-bottom: 20%


  @media (min-width: 1200px)
    .send-message-link
      display: none
    .send-message
      display: flex
    .btn-outline-inverse
      width: auto
      margin: 20px 5px 20px 0
      padding: 18px 24px
      font-size: 21px


.btn-outline-inverse
  background-color: transparent
  border-color: white
  margin: 10px
  &:hover
    a
      text-decoration: none
    text-shadow: none
    background-color: white
    border-color: white

