// TODO: clean all this mess.
// TODO: use ems
// TODO: use sass variables
// TODO: create components
html, body
  margin: 0
  padding: 0

body
  font-size: 18px
  font-family: arial,helvetica,geneva,pragmatica,sans-serif,'Courier New',courier

.page
  width: 100%

.company-name
  text-align: center
  font-size: 4em

.contact-options
  max-width: 1400px
  margin: 0 auto

  color: white
  display: flex
  flex-flow: row wrap
  align-content: stretch

  .icon
    font-size: 7em

  a
    color: white

  .option-tab
    font-size: 1.0em
    display: flex
    flex-direction: column
    align-items: center
    flex: 1 100%
    padding: 10%
    margin: 1%
    width: 0

    .description
      flex: 1
      margin-bottom: 10%

  .hire
    background-color: darkblue
    .btn-outline-inverse:hover
      a
        color: darkblue

  .join
    background-color: green
    .btn-outline-inverse:hover
      a
        color: green

  .send-message
    background-color: #6f5499
    .btn-outline-inverse:hover
      a
        color: #6f5499

  .send-message-link
    font-size: 0.75em
    display: none

.btn-outline-inverse
  font-size: 1.0em
  background-color: transparent
  border-color: white
  margin: 10px
  &:hover
    a
      text-decoration: none
    text-shadow: none
    background-color: white
    border-color: white

@media (min-width: 500px)
  .contact-options
    max-width: 550px

    .option-tab
      flex: 1 auto
      padding: 7%
      .description
        margin-bottom: 20%

    .send-message-link
      display: block
    .send-message
      display: none

@media (min-width: 750px)
  .contact-options
    max-width: 800px

    .option-tab
      padding: 5%

    .send-message-link
      display: none
    .send-message
      display: flex

@media (min-width: 1000px)
  .contact-options
    max-width: 1000px

  .page
    font-size: 1.2em

  .btn-outline-inverse
    width: auto
    margin: 20px 5px 20px 0
    padding: 18px 24px

.contact-form
  max-width: 500px
  margin: 0 auto
  padding: 5%
