.contact-forms
  max-width: 600px
  margin: 1% auto
  .panel
    border: 1px solid $background

.contact-form
  margin: 10%
  .form-control
    color: $text
    margin-bottom: 10px

.ng-invalid.ng-dirty
  border-color: red
