.contact
  margin: 1% auto
  max-width: 600px

  .panel
    border: 1px solid $background-dark

  .contact-form
    @extend .panel
    padding: 10%
    .form-control
      color: $text
      margin-bottom: 10px

  .info
    @extend .panel
    padding: 5%
    text-align: center

    .icon
      font-size: 6em
    .description
      margin: 5%

  =contact-form-brand($color, $variation)
    .icon
      color: $color
    .btn-success
      background-color: $color
      border-color: $color
      &:hover
        background-color: $variation

  .hire
    +contact-form-brand($main, $main-dark)
  .join
    +contact-form-brand($secondary, $secondary-dark)
  .send-message
    +contact-form-brand($main, $main-dark)

  .ng-invalid.ng-dirty
    border-color: red
