.page
  color: $text
  background-image: image-url('bg.gif')
  padding: 2%
  width: 100%

.header
  border-bottom: $background 1px solid

.logo
  font-size: 3.5em
  padding: 1.2%
  padding-left: 5%
  a
    text-decoration: none

  .company-logo
    .company-name
      line-height: 1
      font-weight: bold
      a
        color: $main

    .company-slogan
      margin-top: -5px
      font-size: 0.5em
      .company-slogan-main
        color: $main-light
      .company-slogan-secondary
        color: $secondary

.footer
  border-top: $background 1px solid
