$main: #3399cc
$secondary: #95c93d
$accent: #9b78d1
$background: #f9f9fa

$background-dark: #eee
$main-light: adjust-color($main, $lightness: +2)

$white: white
$text: #595959

$error: #ec6730
$success: #95c93d

// Bootstrap config
$btn-success-bg: $secondary
