$main: #3399cc
$secondary: #95c93d
$accent: #9b78d1
$background: #f9f9fa

$main-dark:       adjust-color($main,       $lightness: -7)
$secondary-dark:  adjust-color($secondary,  $lightness: -7)
$accent-dark:     adjust-color($accent,     $lightness: -7)
$background-dark: #eee

$main-light:       adjust-color($main,       $lightness: +2)
$secondary-light:  adjust-color($secondary,  $lightness: +2)
$accent-light:     adjust-color($accent,     $lightness: +2)

$white: white
$text: #595959

$error: #ec6730
$success: #95c93d
